{% extends 'base.html.twig' %}

{% block title %}Sobre nosotros{% endblock %}

{% block body %}

    <main>

		<iframe class="centrado_a_1500" width="854" height="480" src="https://www.youtube.com/embed/6THZMVLl_oQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

    </main>

{% endblock %}